# Dependencies
node_modules
.pnpm-store

# Build
.next
out
dist

# Environment
.env
.env.local
.env.*.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Testing
coverage

# Misc
*.pem
.vercel
